*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(0, 0, 0, 0.884);
    font-weight: 300;
}
nav{
    margin: 10px 20px;
    color: #fff;
    font-size: 15px;
}
nav ul{
    list-style: none;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 12px;
    float: right;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
}
nav ul li a:hover{
    color: #fff;
    text-decoration: underline;
}
nav ul li ion-icon:hover{
    color: #fff;
    text-decoration: none;
    padding: 0 2px 0 0;
    border-radius: 50%;
    background: rgb(53, 53, 53);
    margin: 0;
}
section{
    position: relative;
    width: 100%;
    height: 40vh;
    justify-content: center;
    align-items: center;
    display: flex;
}
section .main{
    width: 580px;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section .main .input{
    position: relative;
    width: 100%;
    margin-top: 20px;
}
section .main .input .query{
    width: 100%;
    padding: 12px;
    border-radius: 25px;
    border: 1px solid #ccc;
    background: transparent;
    outline: none;
    font-size: 16px;
    padding-left: 45px;
    padding-right: 60px;
    color: #fff;
}
section .main .input .query:hover{
    background: rgb(53, 53, 53)
}
section .main .input .icons{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 12px 20px;
    align-items: center;
    pointer-events: none;
}
section .main .input .icons img{
    max-width: 100%;
}
button{
    margin: 0 5px;
    margin-top: 20px;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    border: 1px solid transparent;
    outline: none;
    background: rgb(53, 53, 53);
    color: white;
}
button:hover{
    border: 1px solid #ccc;
}
section .main .swahili{
    margin-top: 30px;
    color: #fff;
}
section .main .swahili a{
    text-decoration: none;
    font-weight: 400;
    color: rgb(62, 160, 241);
}